html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a{
  text-decoration: inherit;
  color: #5e5d5d;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  justify-self: center;
  align-items: center;
  text-align: center;
  padding: 40px 50px;
  background-color: #fff;;
}

a {
  text-decoration: none;
}

i {
  cursor: pointer;
}

.login {
  position: relative;
  margin: auto;
  width: 40%;
  height: 400px;
  background-color: #fff;
  text-align: center;
  z-index: 100;
  /* display: none; */
}

/* login */
.fa-xmark{
  position: relative;
  right: -200px;
  border:2px solid #fa6b6b;
  padding:10px;
  border-radius: 25%;
}
.login{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
  
}
.login header img{
  width: 120px;
  height: 80px;
}

.header {
  width: 100%;
  margin: auto;
}

.login_conatiner{
  border-top:2px solid #fa6b6b;
  padding:30px;
}

.login_conatiner h1{
  font-size: 20px;
  font-weight: 600;
  padding:20px;
}

.login-input{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.login-input input{
  margin-bottom: 10px;
  padding:10px;
  border: 1px solid #d6d6d6;
}
.login_button{
  display: flex;
  flex-direction: column;
  
}
.login_button button{
  padding:15px;
  border: inherit;
  margin-bottom: 10px;
}

.login_button .id{
  color: #fa6b6b;
  font-weight: 600;
}

.login_button .pw{
  color:white;
  background-color: #fa6b6b;
  font-weight: 600;
}

.container-fluid{
  background-color: #f5f4f4;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: rgb(231, 111, 111);
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-link{
  font-weight: 500;
  color:#fa6b6b;
}


.carousel-inner {

  width: 100%;
  height: 400px;
}

.main-container {
  background-color: rgb(255, 255, 255);


}

.시리얼 {
  width: 100%;
  align-items: center;
  margin: 0 auto;
  padding: 0 auto;
}

.title {
  position: relative;
  right: 0;
  font-weight: 600;
  padding: 20px;
}

.title h1 {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.title p {
  font-size: 20px;
  color: rgb(170, 170, 170);
}

.card img {
  transform: rotateX(2, 2);
}

.card img:hover {
  cursor: pointer;
  border: 2px solid #FEB139;

}

.card-container .card {
  margin: 0 auto;
}

.card-body p {
  font-weight: 600;
  color: rgb(82, 79, 79)
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-effect 1s step-end infinite;
}


footer{
  margin-top: 30px;
}

.chat{
  margin-top: 20px;
  /* position: relative;
  left: -400px; */
  padding:20px;
  
  border-bottom: 3px solid #DADADA;
}
footer h3{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}

.chat p{
  font-size: 15px;
  font-weight: 700;
  color:gray;
  margin-bottom: 10px;
}

.sns {
  padding:30px;
  border-bottom:3px solid #DADADA;
}

.sns img{
  width: 60px;
  height: 60px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.제휴{
  margin-top: 40px;
}
.제휴 h4{
  margin-bottom: 20px;
  font-weight: 600;
  color: #7e7e7e;
}


.footerBox{
  width: 80%;
  height: 300px;
  margin:auto;
  background-color: #d8d6d6;
}
.footerBox .terms{
  display: flex;
  
  text-decoration: inherit;
  padding:40px;
}
.footerBox .terms h4{
  margin-right: 30px;
  border-right: 2px solid white;
}

.footerBox span{
  line-height: 25px;
  margin: 0 auto;
}
